@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary: #ffcb0f;
  --secondary: #222533;
  --text-color: #484848;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-btn {
  font-size: 16px;
  text-align: center;
  background-color: var(--primary);
  padding: 17px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 90px;
  transition: 1s all ease-in;
  @media screen and (max-width: 400px) {
    margin-bottom: 10px;
    margin-right: 0px;
  }

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: var(--secondary);
    color: var(--primary);
  }
}
